@model EscapeRoom
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Escape Room @Model.Name</h1>

<div class="row border-dark">
    <div class="col-8">
        <img class="mt-lg-4" style="width:500px;height:auto" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model?.Logotype))" alt="room-logo" />
    </div>
    <div class="col-4">
        <p>@Model.Description</p>
        <p><b>DIFFICULTY:</b> @Model.DifficultyLevel</p>
        <p><b>GROUP SIZE:</b> @Model.MinimumPlayers - @Model.MaximumPlayers</p>
        <p><b>TIME LIMIT:</b> @Model.TimeLimitMinutes minutes</p>
        <br />
        <p><b>Min Age:</b> @Model.MinimumPlayerAge y.o.</p>
        <p><b>Phone number:</b> @Model.PhoneNumber</p>
        <p><b>Email:</b> @Model.EmailAddress</p>
        <br />
        <p><b>Rating:</b> @Model.Rating</p>
        <br />
        <p><b>Fear Level:</b> @Model.FearLevel</p>
        <p><b>Difficulty Level:</b> @Model.DifficultyLevel</p>

    </div>
</div>